.navbar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  height: 155px;
  border-radius: 0px;

  background: white;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.15);
}

.digitiketlogo {
  position: absolute;
  margin-top: 33px;
  left: 10.42%;
}

.line1 {
  /* Line 1 */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 69.03%;
  bottom: 30.97%;

  border: 1px solid #eeeeee;
}

.loginbutton {
  /* Rectangle 6 */

  position: absolute;
  left: 81.17%;
  right: 13.19%;
  top: 21.29%;
  bottom: 49.68%;

  border: none;

  background: rgba(112, 20, 169, 0.15);
  border-radius: 5px;
  height: 45px;
  width: 110px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #cd7bff;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
}

.attraction-div {
  position: absolute;
  left: 10.42%;
  top: 69.03%;
  bottom: 30.97%;
  height: 47px;
  width: 189px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.event-div {
  position: absolute;
  left: 20.3%;
  top: 69.03%;
  bottom: 30.97%;
  height: 47px;
  width: 120px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.virtualtour-div {
  position: absolute;
  left: 26.6%;
  top: 69.03%;
  bottom: 30.97%;
  height: 47px;
  width: 245px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.location-div {
  position: absolute;
  left: 39.42%;
  top: 69.03%;
  bottom: 30.97%;
  height: 47px;
  width: 160px;

  border-left: 1px solid #eeeeee;
}

.buattiket-div {
  position: absolute;
  left: 78.14%;
  right: 10.42%;
  top: 69.03%;
  bottom: 0%;
  height: 47px;

  background: #7014a9;
  text-align: left;
  padding-left: 20px;
}

.buattiket-div span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.buattiket-div img {
  padding-right: 10px;
}

.new {
  display: inline-block;
  background: #7014a9;
  border-radius: 3px;
  padding: 3px 7px 4px 7px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-right: 10px;
}

.menu img {
  position: relative;
  margin-top: 13px;
  margin-right: 13px;
  margin-left: 13px;
}

.title {
  margin-right: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.04em;

  color: #413f3f;
}

.location-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #f05a86;
}
