.content1 {
  position: absolute;
  top: 178px;
  left: 10.42%;
  right: 10.42%;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px;
}

.content-info {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 66px;
  left: 10.42%;
  right: 10.42%;
  top: 621px;

  vertical-align: middle;

  background: #eadcf2;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 3px;
}

.content-desc {
  position: absolute;
  top: 704px;
  left: 10.42%;
  right: 10.42%;

  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px;
  justify-content: space-between;
}

.content-info p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  /* identical to box height, or 27px */

  letter-spacing: 0.04em;
  color: #000000;
}

.content-info img {
  position: relative;
  margin-left: 0px;
  margin-top: -15px;
}

.footer {
  position: absolute;
  top: 2000px;
  left: 10.42%;
  right: 10.42%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  flex-wrap: wrap;

  text-align: left;
  justify-content: space-between;
}

.footer div {
  flex: 20%;
  max-width: 20%;
}

.column1 {
  flex: 40%;
  max-width: 40%;
}

.column2 {
  flex: 20%;
  max-width: 20%;
}

.column2 img {
  margin-top: 4px;
}

.column3 {
  flex: 30%;
  max-width: 30%;
}

.desc1 {
  flex: 50%;
  max-width: 49%;
  text-align: left;
  padding: 0 50px 50px 50px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 3px;
}

.desc2 {
  flex: 50%;
  max-width: 49%;
  height: 900px;
  text-align: left;
  background: #f6f6f6;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  border-radius: 3px;

  padding: 0 50px 50px 50px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option1 {
  flex: 50%;
  max-width: 50%;
  height: 47px;
  text-align: center;
  background: white;
}

.option2 {
  flex: 50%;
  max-width: 50%;
  height: 47px;
  text-align: center;
  background: #eadcf2;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.total {
  flex: 50%;
  max-width: 47%;
  height: 47px;
  text-align: center;
  background: #e6e6e6;
  border: 1px solid #ccc9c9;
  box-sizing: border-box;
  border-radius: 3px;
}

.checkout {
  flex: 50%;
  max-width: 47%;
  height: 47px;
  text-align: center;
  background: #7014a9;
  border-radius: 3px;
  border: none;
  line-height: 10px;
}

.total-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;

  color: #000000;
}

.checkout-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 10x;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #fdfbff;
}

.option-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 10px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #cd7bff;
}

.tiket-div {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 3px;
  height: 190px;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}

.tiket-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}

.tiket-line {
  width: 100%;
  height: 0px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.tanggal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;
}

.tanggal1 {
  flex: 50%;
  max-width: 35%;
  height: 47px;
  text-align: center;
  background: white;
}

.tanggal2 {
  flex: 50%;
  max-width: 35%;
  height: 47px;
  text-align: center;
  background: white;
}

.tanggal-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}

.detail-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: -10px;
  margin-bottom: 10px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #cd7bff;
}

.button {
  position: absolute;
  width: 122px;
  height: 37px;

  border: 1px solid #eadcf2;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
  margin-left: 70%;
}

.button1 {
  flex: 25%;
  max-width: 25%;
  height: 37px;
  text-align: center;
  background: white;
  line-height: 37px;
  border: 1px solid #eadcf2;
  box-sizing: border-box;
}

.button2 {
  flex: 25%;
  max-width: 25%;
  height: 37px;
  text-align: center;
  background: #eadcf2;
  border: 1px solid #eadcf2;
  box-sizing: border-box;
  line-height: 37px;
}

.input {
  flex: 50%;
  max-width: 50%;
  height: 37px;
  text-align: center;
  background: white;
  border: 1px solid #eadcf2;
  box-sizing: border-box;
}

.harga {
  float: left;
  margin-top: -8px;
  margin-left: 55%;
}

table {
  width: 100%;
  border: 1px solid #eeeeee;
}

td {
  border: none;
}

th {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-left: 30px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
  height: 51px;
}

tr {
  height: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: #000000;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

tr:nth-child(3) {
  background-color: #eadcf2;
}

tr:nth-child(n + 10) {
  background-color: white;
}

tr:nth-child(9) {
  border: 1px solid #eeeeee;
}

.purple-big {
  display: inline-block;
  background: #7014a9;
  border-radius: 3px;
  padding: 3px 7px 4px 7px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-right: 10px;
}

.purple-small {
  display: inline-block;
  background: #7014a9;
  border-radius: 3px;
  padding: 3px 7px 4px 7px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-right: 10px;
}

.pink {
  display: inline-block;
  background: #ea24be;
  border-radius: 3px;
  padding: 3px 7px 4px 7px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.04em;

  color: #ffffff;
  margin-right: 10px;
}

.content-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}

.paragraph {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 191.5%;
  /* or 27px */

  letter-spacing: 0.04em;

  color: #505050;
}

.line-border {
  position: relative;
  margin-bottom: 20px;
  width: 650px;
  height: 0px;

  border: 1px solid #eeeeee;
}

.content-title-small {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 191.5%;
  /* or 27px */

  letter-spacing: 0.04em;

  color: #505050;
}

.logocontainer {
  position: relative;
  height: 40px;
  width: 40%;
  margin-left: 50%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.share {
  line-height: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* identical to box height, or 27px */

  letter-spacing: 0.04em;

  color: #464444;
}

.footer-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 191.5%;
  /* or 27px */

  letter-spacing: 0.04em;

  color: #373737;
}

.footer-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}
