.searchbar {
  position: absolute;
  left: 27.92%;
  right: 40.14%;
  top: 14.84%;
  bottom: 47.1%;

  height: 59px;

  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.searchlogo {
  position: absolute;
  left: 16px;
  top: 20px;
  bottom: 19px;
}

.searchtext {
  /* Temukan Event, Wahana Wisata , Virtual Tour, Lain-lain. */

  position: absolute;
  height: 17px;
  margin-left: 50px;
  margin-top: 21px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #b4b4b4;
}
